extends layout

block content
  .mt-5
    h1= title
    if (isAuthorised && !isAuthorised.member)
      form(method='POST' action='')
        .form-group    
            label(for='passcode') Enter the secret passcode
            input#passcode.form-control(type='passcode' name='passcode' required='true')
        p #{msg}
        button.btn.btn-primary(type='submit') Join
    else if (isAuthorised && isAuthorised.member)
      p You're already a member!
    else
      p You must be logged in before you can join